@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Styles for film, characters and planets tags*/
.tag {
  display: inline-block;
  width: fit-content;
  height: 55px;
  margin: 0 20px 20px 0;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 17px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  vertical-align: middle;
  background: #efefef 0% 0% no-repeat padding-box;
  border-radius: 1px;
  color: #10172c;
  cursor: pointer;
}

.tag:hover {
  text-decoration: none;
  color: #10172c;
}

.tag-home {
  margin: 0 0 0 10px;
}

@media screen and (max-width: 1024px) {
  .tag {
    height: 30px;
    font-size: 10px;
    line-height: 10px;
    padding: 12px;
    margin: 0px 15px 15px 0;
  }
}
