<p class="tag" (click)="openVerticallyCentered(content)">...</p>

<div class="container-modal">
  <ng-template #content let-modal class="film-modal">
    <div class="modal-container">
      <div class="content-modal">
        <h4 class="modal-title h4-modal">Planet hinzufügen</h4>

        <div class="modal-body m-body">
          <div>
            <label class="label-modal" for="planet-name">Name</label>
            <input
              class="input-modal"
              type="text"
              name="planet-name"
              id="planet-name"
              placeholder="Name eingeben"
            />
          </div>
          <div>
            <label class="label-modal" for="planet-type">Type</label>
            <select
              class="form-select select-modal"
              name="planet-type"
              id="planet-type"
            >
              <i class="fas fa-sort"></i>
              <option selected value="desert">Desert</option>
              <option value="frozen">Frozen</option>
              <option value="mountain">Mountain</option>
              <option value="tundra">Tundra</option>
            </select>
          </div>
          <div>
            <label class="label-modal" for="planet-creator">Producent</label>
            <select
              class="form-select select-modal"
              name="planet-creator"
              id="planet-creator"
            >
              <i class="fas fa-sort"></i>
              <option selected value="George Lucas">George Lucas</option>
              <option value="Rick McCallum">Rick McCallum</option>
              <option value="Gary Kurtz">Gary Kurtz</option>
              <option value="Howard G. Kazanjian">Howard G. Kazanjian</option>
            </select>
          </div>

          <div>
            <label class="label-modal" for="genre">Genre</label>
            <input
              class="input-modal input-narrow"
              type="text"
              maxlength="4"
              name="genre"
              id="genre"
              placeholder="Science Fiction"
            />
          </div>

          <div>
            <label class="label-modal" for="race">Race(s)</label>
            <textarea
              class="textarea-modal"
              name="race"
              id="race"
              cols="55"
              rows="4"
              placeholder="Namen mit Semikolon trennen"
            ></textarea>
          </div>
          <div class="modal-buttons d-flex justify-content-end">
            <p class="tag" (click)="modal.close('Close click')">Abbrechen</p>
            <p class="tag btn-save" (click)="modal.close('Close click')">
              Planet hinzufügen
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
