<div class="content">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-fall"
  >
    <p class="spinner-text">Loading...</p>
  </ngx-spinner>

  <div class="general">
    <p class="single-details">Filmdetails</p>
    <hr class="single-hr" />
    <h1 class="single-h1">{{ movie?.title }}</h1>
    <p class="single-details mt-0">Episode {{ romanNumeral }}</p>
  </div>
  <div class="element-details d-flex flex-row justify-content-between">
    <div class="details-left">
      <h3 class="single-h3">Details:</h3>
      <p class="details-p m-0">
        Director: <span>{{ movie?.director }}</span>
      </p>
      <p class="details-p m-0">
        Produzenten: <span>{{ movie?.producer }}</span>
      </p>
      <p class="details-p m-0">
        Erscheinungsdatum: <span>{{ movie?.release_date }}</span>
      </p>
      <p class="opening-crawl mt">{{ movie?.opening_crawl }}</p>
    </div>
    <img class="single-img" src="{{ imgSrc }}" alt="movie image" />
  </div>
  <div class="extras">
    <h3 class="single-h3">Charaktere:</h3>
    <div>
      <app-character-link
        *ngFor="let character of movie?.characters"
        [link]="character"
      ></app-character-link>
      <app-add-character class="d-inline-block"></app-add-character>
    </div>
    <h3 class="single-h3">Planete:</h3>
    <app-planets-link
      *ngFor="let planet of movie?.planets"
      [planetLink]="planet"
    ></app-planets-link>
    <app-add-planet class="d-inline-block"></app-add-planet>
    <h3 class="single-h3">Raumschiffe:</h3>
    <app-starships-link
      *ngFor="let starship of movie?.starships"
      [starshipLink]="starship"
    ></app-starships-link>
    <h3 class="single-h3">Fahrzeuge:</h3>
    <app-vehicles-link
      *ngFor="let vehicle of movie?.vehicles"
      [vehiclesLink]="vehicle"
    >
    </app-vehicles-link>
  </div>
</div>
<p></p>
