<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-fall"
  >
    <p class="spinner-text">Loading...</p>
  </ngx-spinner>

  <h1 class="h1-list">Filme</h1>
  <div class="list d-flex flex-row flex-wrap">
    <div
      class="thumbnail d-flex flex-column hvr-grow"
      *ngFor="let movie of movies"
    >
      <img
        class="img-list"
        src="{{ movie.image }}"
        alt="movie image"
        [routerLink]="['/filme', movie.id]"
      />
      <div class="film-info">
        <h3 [routerLink]="['/filme', movie.id]">{{ movie.title }}</h3>
        <p>Director: {{ movie.director }}</p>
        <p>Produzenten: {{ movie.producer }}</p>
        <p class="last-p">Erscheinungsdatum: {{ movie.release_date }}</p>
        <a [routerLink]="['/filme', movie.id]">Mehr informationen...</a>
      </div>
    </div>
  </div>
</div>
