<div class="content">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-fall"
  >
    <p class="spinner-text">Loading...</p>
  </ngx-spinner>

  <div class="general">
    <p class="single-details">Planetdetails</p>
    <hr class="single-hr" />
    <h1 class="single-h1">{{ planet?.name }}</h1>
  </div>
  <div class="element-details d-flex flex-row justify-content-between">
    <div class="details-left">
      <h3>Details:</h3>
      <p class="details-p m-0">
        Rotation period: <span>{{ planet?.rotation_period }}</span>
      </p>
      <p class="details-p m-0">
        Climate: <span>{{ planet?.climate }}</span>
      </p>
      <p class="details-p m-0">
        Gravity: <span>{{ planet?.gravity }}</span>
      </p>
      <p class="details-p m-0">
        Terrain: <span>{{ planet?.terrain }}</span>
      </p>
      <p class="details-p m-0">
        Population: <span>{{ planet?.population }}</span>
      </p>
      <p class="details-p m-0">
        Diameter: <span>{{ planet?.diameter }}</span>
      </p>
    </div>
    <img
      class="single-img"
      src="{{ imgSrc }}"
      alt="character image"
      onerror="this.src = 'assets/pictures/placeholder.png';"
    />
  </div>
  <div class="extras">
    <h3 class="single-h3">Filme:</h3>
    <app-film-link *ngFor="let film of planet?.films" [filmLink]="film">
    </app-film-link>
    <app-add-film class="d-inline-block"></app-add-film>
    <div *ngIf="planet?.residents.length != 0">
      <h3>Residents:</h3>
      <div>
        <app-character-link
          *ngFor="let resident of planet?.residents"
          [link]="resident"
        ></app-character-link>
        <app-add-character class="d-inline-block"></app-add-character>
      </div>
    </div>
  </div>
</div>
