<p class="tag" (click)="openVerticallyCentered(content)">...</p>

<div class="container-modal">
  <ng-template #content let-modal class="film-modal">
    <div class="modal-container">
      <div class="content-modal">
        <h4 class="modal-title">Film hinzufügen</h4>

        <div class="modal-body">
          <div>
            <label for="film-title">Titel</label>
            <input
              type="text"
              name="film-title"
              id="film-title"
              placeholder="Titel eingeben"
            />
          </div>
          <div>
            <label for="film-director">Director</label>
            <input
              type="text"
              name="film-director"
              id="film-director"
              placeholder="Adresszusatz eingeben"
            />
          </div>
          <div>
            <label for="film-producer">Producent</label>
            <select class="form-select" name="film-produce" id="producer">
              <i class="fas fa-sort"></i>
              <option selected value="George Lucas">George Lucas</option>
              <option value="Rick McCallum">Rick McCallum</option>
              <option value="Gary Kurtz">Gary Kurtz</option>
              <option value="Howard G. Kazanjian">Howard G. Kazanjian</option>
            </select>
          </div>
          <div>
            <label for="erscheinungsdatum">Erscheinungsdatum</label>
            <input
              type="text"
              maxlength="4"
              name="erscheinungsdatum"
              id="erscheinungsdatum"
              placeholder="YYYY"
            />
          </div>

          <div>
            <label for="beschreibung">Beschreibung</label>
            <textarea
              name="beschreibung"
              id="beschreibung"
              cols="55"
              rows="4"
              placeholder="Beschreibung"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="modal-buttons d-flex justify-content-end">
        <p (click)="modal.close('Close click')">Abbrechen</p>
        <p class="btn-save" (click)="modal.close('Close click')">
          Film hinzufügen
        </p>
      </div>
    </div>
  </ng-template>
</div>
