.details,
h1 {
  text-align: center;
  letter-spacing: 0px;
  color: #10172c;
  opacity: 1;
}
h3 {
  font: normal normal bold 25px/30px Roboto;
}

h3,
img {
  margin-top: 40px;
}

.details {
  margin-top: 80px;
  font: normal normal 300 25px/30px Roboto;
}
hr {
  border-bottom: 1px solid #10172c;
  width: 60px;
}
h1 {
  font: normal normal bold 75px/90px Roboto;
}
.film-details {
  margin-top: 80px;
}

.film-details,
.extras {
  width: 70%;
  margin: 0 auto;
}
.details-left {
  width: 513px;
  font: normal normal normal 18px/23px Roboto;
}
.details-p {
  font-weight: bold;
}
.details-p > span {
  font-weight: normal;
}

.mt {
  margin-top: 3rem;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 35px;
    line-height: inherit;
  }
  .general {
    width: 70%;
    margin: 0 auto;
  }
  .general p,
  h3 {
    font-size: 22px;
  }
  img {
    width: 100%;
    margin: 50px 0;
  }
  .film-details {
    flex-direction: column !important;
  }
  .details-left {
    width: 100%;
    font-size: 15px;
  }

  h3,
  img {
    margin-top: 20px;
  }
}
